<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <div class="navbar-header">
			<a class="navbar-brand" href="/">User Manager</a>
        </div>
		
		<ul class="nav navbar-nav pull-right">
			<li>
				<a href="/users">View Users</a>
			</li>
		</ul>
	</div>
</nav>