<div class="row">
	<div class="col-md-6">

		<form id="form-edit">
			<input type="hidden" name="id" value="{{user.id}}" />
			<div class="form-group">
				<label for="username">User Name</label>
				<input type="text" class="form-control" id="username" name="name" value="{{user.name}}">
			</div>
			<div class="form-group">
				<label for="company">Company</label>
				<input type="text" class="form-control" id="company" name="company" value="{{user.company}}">
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" name="email" value="{{user.email}}">
			</div>
			<button class="btn btn-primary" type="submit">Save User Details</button>
		</form>

	</div>
</div>
{{>users/update-confirm}}
<script>
	$(document).ready(function(){
		
		(function ($) {
			$.fn.serializeFormJSON = function () {
		
				var o = {};
				var a = this.serializeArray();
				$.each(a, function () {
					if (o[this.name]) {
						if (!o[this.name].push) {
							o[this.name] = [o[this.name]];
						}
						o[this.name].push(this.value || '');
					} else {
						o[this.name] = this.value || '';
					}
				});
				return o;
			};
		})(jQuery);
		
		$( "form" ).submit(function( event ) {
			var formData = $( this ).serializeFormJSON();
			
			$.ajax({
			url:'/user/{{user.id}}',
			method:'PUT',
			data:formData
			}).done(function(){
				$('#userUpdatedModal .modal-body').html('<p>User Updated</p>');
				$('#userUpdatedModal').modal();
			}).fail(function(err){
				$('#userUpdatedModal .modal-body').html('<p>' + err.responseJSON.message + '</p>');
				$('#userUpdatedModal').modal();
			});
			
			event.preventDefault();
		});
		
			
	});

</script>