<div class="row">
	<div class="col-md-2">
		<img src="{{user.picture}}" alt="" class="img-rounded img-responsive" />
	</div>
	<div class="col-md-6">
		
		<p class="lead">{{user.name}}</p>
		<small>
			<span>{{user.address}}  <i class="glyphicon glyphicon-map-marker"></i></span>
		</small>
		<br />
		<br />
		<p>
			<i class="glyphicon glyphicon-briefcase"></i> {{user.company}}
			<br />
			<i class="glyphicon glyphicon-envelope"></i> {{user.email}}
			<br />
			<i class="glyphicon glyphicon-earphone"></i> {{user.phone}}
			<br />
			<i class="glyphicon glyphicon-stats"></i> {{user.age}}
		</p>
	</div>
</div>