<tr>
	<td>{{name}}</td>
	<td>{{email}}</td>
	<td>
		<div class="pull-right">
			<a class="btn btn-default btn-primary btn-xs" href="/user/{{id}}">View</a>

			<a class="btn btn-default btn-primary btn-xs" href="/user/{{id}}?edit=true">Edit</a>

			<a class="btn btn-default btn-danger btn-xs btn-delete" href="/user/{{id}}">Delete</a>
		</div>
	</td>
</tr>