<table class="table table-striped table-hover">
	<thead>
		<th>
			Name
		</th>
		<th colspan="2">
			Email
		</th>
	</thead>
	<tbody>
	{{#each users}}
		{{>users/user}} 
	{{/each}}
	</tbody>
</table>

<script>
	$(document).ready(function(){
		$(".btn-delete").click(function(e){
			e.preventDefault();
			console.log($(e.currentTarget).attr('href'));
			
			$.ajax({
				url:$(e.currentTarget).attr('href'),
				method:'DELETE'
			}).done(function(){
				location.reload();
			}).fail(function(err){
				console.log(err);
			});
			
		})	
	});
</script>